In [1]:
#importing library
import pandas as pd

In [2]:
#load and reaad the dataset
df=pd.read_csv(r"C:\Users\ASUS\Desktop\mini project\India Agriculture Crop Production.csv")
df.head(5)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296

In [3]:
df.isnull().sum()

State                  0
District               0
Crop                  32
Year                   0
Season                 1
Area                  33
Area Units             0
Production          4993
Production Units       0
Yield                 33
dtype: int64

In [4]:
df.columns

Index(['State', 'District', 'Crop', 'Year', 'Season', 'Area', 'Area Units',
       'Production', 'Production Units', 'Yield'],
      dtype='object')

In [5]:
df.describe()

               Area    Production          Yield
count  3.453740e+05  3.404140e+05  345374.000000
mean   1.167019e+04  9.583711e+05      79.407569
std    4.583843e+04  2.152986e+07     916.628744
min    4.000000e-03  0.000000e+00       0.000000
25%    7.400000e+01  8.700000e+01       0.546742
50%    5.320000e+02  7.170000e+02       1.000000
75%    4.110000e+03  7.176000e+03       2.467080
max    8.580100e+06  1.597800e+09   43958.333330

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  object
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: float64(3), object(7)
memory usage: 26.4+ MB

In [7]:
#length of state column
len(df['State'].unique())

36

In [8]:
df['State'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'Telangana', 'Laddakh'], dtype=object)

In [9]:
#length of district
len(df['District'].unique())

729

In [10]:
#length of crop
len(df['Crop'].unique())

57

In [11]:
df["Crop"].unique()

array(['Arecanut', 'Banana', 'Black pepper', 'Cashewnut', 'Coconut',
       'Dry chillies', 'Ginger', 'Other Kharif pulses', 'other oilseeds',
       'Rice', 'Sugarcane', 'Sweet potato', 'Arhar/Tur', 'Bajra',
       'Castor seed', 'Coriander', 'Cotton(lint)', 'Gram', 'Groundnut',
       'Horse-gram', 'Jowar', 'Linseed', 'Maize', 'Mesta',
       'Moong(Green Gram)', 'Niger seed', 'Onion', 'Other Rabi pulses',
       'Potato', 'Ragi', 'Rapeseed &Mustard', 'Safflower', 'Sesamum',
       'Small millets', 'Soyabean', 'Sunflower', 'Tapioca', 'Tobacco',
       'Turmeric', 'Urad', 'Wheat', 'Oilseeds total', 'Jute', 'Masoor',
       'Peas & beans (Pulses)', 'Barley', 'Garlic', 'Khesari', 'Sannhamp',
       'Guar seed', 'Moth', 'Cardamom', 'Other Cereals', 'Cowpea(Lobia)',
       'Dry Ginger', 'Other Summer Pulses', nan], dtype=object)

In [15]:
df["State"].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal', 'Telangana', 'Laddakh'], dtype=object)

In [17]:
df.isnull().sum()

State                  0
District               0
Crop                  32
Year                   0
Season                 1
Area                  33
Area Units             0
Production          4993
Production Units       0
Yield                 33
dtype: int64

In [18]:
df

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
...,...,...,...,...,...,...,...,...,...,...
345402,Manipur,IMPHAL WEST,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345403,Manipur,SENAPATI,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345404,Manipur,TAMENGLONG,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345405,Manipur,THOUBAL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345406,Manipur,UKHRUL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN

In [19]:
#removing the null values from crop
df.dropna(subset=['Crop'],inplace=True)

In [20]:
df

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
...,...,...,...,...,...,...,...,...,...,...
345370,West Bengal,PURBA BARDHAMAN,Wheat,2000-01,Rabi,6310.0,Hectare,15280.0,Tonnes,2.421553
345371,West Bengal,PURULIA,Wheat,1997-98,Rabi,1895.0,Hectare,2760.0,Tonnes,1.456464
345372,West Bengal,PURULIA,Wheat,1998-99,Rabi,3736.0,Hectare,5530.0,Tonnes,1.480193
345373,West Bengal,PURULIA,Wheat,1999-00,Rabi,2752.0,Hectare,6928.0,Tonnes,2.517442
345374,West Bengal,PURULIA,Wheat,2000-01,Rabi,2979.0,Hectare,7430.0,Tonnes,2.494126

In [21]:
df.isnull().sum()

State                  0
District               0
Crop                   0
Year                   0
Season                 1
Area                   1
Area Units             0
Production          4961
Production Units       0
Yield                  1
dtype: int64

In [22]:
df['Season'].unique()

array(['Kharif', 'Whole Year', 'Rabi', 'Autumn', 'Summer', 'Winter', nan],
      dtype=object)

In [23]:
#removing null value from season
df.dropna(subset=['Season'],inplace=True)

In [24]:
#grouping season based on crops
df.groupby('Season')['Crop'].unique()

Season
Autumn        [Rice, Maize, Ragi, Dry chillies, Sesamum, Gro...
Kharif        [Arecanut, Other Kharif pulses, Rice, Arhar/Tu...
Rabi          [Arhar/Tur, Bajra, Dry chillies, Gram, Groundn...
Summer        [Rice, Maize, Moong(Green Gram), Bajra, Ground...
Whole Year    [Arecanut, Banana, Black pepper, Cashewnut, Co...
Winter        [Rice, Gram, Niger seed, Sugarcane, Wheat, Pot...
Name: Crop, dtype: object

In [25]:
#length of production units
list(df['Production Units'].unique())

['Tonnes', 'Nuts', 'Bales']

In [26]:
#droping null values from production
df.dropna(subset=['Production'],inplace=True)

In [50]:
df.head(4)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield,Average yield,Yield efficency,production_change,growth rate
85043,Andaman and Nicobar Islands,Andaman and Nicobar Islands,Arecanut,2007,Kharif,2439.6,Hectare,3415.44,Tonnes,1.400000,2.416707,0.579301,NaN,NaN
85044,Andaman and Nicobar Islands,Andaman and Nicobar Islands,Arecanut,2007,Rabi,1626.4,Hectare,2276.96,Tonnes,1.400000,2.416707,0.579301,-1138.48,-0.333333
85045,Andaman and Nicobar Islands,Andaman and Nicobar Islands,Arecanut,2008,Autumn,4147.0,Hectare,3060.00,Tonnes,0.737883,2.416707,0.305326,783.04,0.343897
85046,Andaman and Nicobar Islands,Andaman and Nicobar Islands,Arecanut,2008,Summer,4147.0,Hectare,2660.00,Tonnes,0.641428,2.416707,0.265414,-400.00,-0.130719

In [28]:
df.isnull().sum()

State               0
District            0
Crop                0
Year                0
Season              0
Area                0
Area Units          0
Production          0
Production Units    0
Yield               0
dtype: int64

In [29]:
df.dtypes

State                object
District             object
Crop                 object
Year                 object
Season               object
Area                float64
Area Units           object
Production          float64
Production Units     object
Yield               float64
dtype: object

In [30]:
df.describe(include=object)

,State,District,Crop,Year,Season,Area Units,Production Units
count,340414,340414,340414,340414,340414,340414,340414
unique,36,728,56,24,6,1,3
top,Uttar Pradesh,BILASPUR,Rice,2019-20,Kharif,Hectare,Tonnes
freq,44635,1214,21573,19000,136165,340414,326999

In [49]:
#saving the modified dataset
df.to_csv('Desktop/load_csv.csv')

Here we have 3 production units converting bales and nuts to tonnes

1000 kg = 1 tonne

1 bales=200kg, 5 bales=1 tonne

1 nut=1.5kg,670 nuts=1 tonne

In [31]:
#converting bales to tonne
df.loc[df['Production Units'] == 'Bales', 'Production'] /=5

In [32]:
#converting bales to tones in production column
df.loc[df['Production Units'] == 'Bales', 'Production Units'] ='Tonnes'

In [33]:
#conveting nuts to tonne
df.loc[df['Production Units'] == 'Nuts', 'Production'] /=670

In [34]:
#converting nuts to tones in production column
df.loc[df['Production Units'] == 'Nuts', 'Production Units'] ='Tonnes'

In [35]:
#grouping state based on crop
df.groupby('Crop')['State'].describe().head(5)

           count unique            top  freq
Crop
Arecanut    2150     10          Assam   568
Arhar/Tur  10774     31  Uttar Pradesh  1445
Bajra       7740     23  Uttar Pradesh  1492
Banana      4393     20     Tamil Nadu   566
Barley      5808     15  Uttar Pradesh  1675

In [36]:
#grouping crop based on yield
avg_yield=df.groupby('Crop')['Yield'].mean()

In [37]:
df['Average yield']=df['Crop'].map(avg_yield)

In [38]:
#creating new column average yield
df["Yield efficency"]=df['Yield']/df['Average yield']

In [39]:
#changing the year column by applying the function
df['Year']=df['Year'].apply(lambda x:int(x.split('-')[0]))

In [51]:
df.head(3)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield,Average yield,Yield efficency,production_change,growth rate
85043,Andaman and Nicobar Islands,Andaman and Nicobar Islands,Arecanut,2007,Kharif,2439.6,Hectare,3415.44,Tonnes,1.400000,2.416707,0.579301,NaN,NaN
85044,Andaman and Nicobar Islands,Andaman and Nicobar Islands,Arecanut,2007,Rabi,1626.4,Hectare,2276.96,Tonnes,1.400000,2.416707,0.579301,-1138.48,-0.333333
85045,Andaman and Nicobar Islands,Andaman and Nicobar Islands,Arecanut,2008,Autumn,4147.0,Hectare,3060.00,Tonnes,0.737883,2.416707,0.305326,783.04,0.343897

In [41]:
df.sort_values(by=['State','District','Crop','Year'],inplace=True)

In [42]:
#creating new column production_change column
df['production_change']=df.groupby(['State','District','Crop'])['Production'].diff()

In [43]:
#creating new column growth_rate
df['growth rate']=df['production_change']/df['Production'].shift(1)

# What are the top 5 crops in terms of area cultivated?

In [45]:
top_crops_area = df.groupby('Crop')['Area'].sum().nlargest(5)
print("Top 5 crops by area cultivated:", top_crops_area)

Top 5 crops by area cultivated: Crop
Rice            9.950024e+08
Wheat           6.644919e+08
Cotton(lint)    2.322117e+08
Soyabean        2.044099e+08
Bajra           1.989216e+08
Name: Area, dtype: float64

# Which season has the highest total production of crops?

In [46]:
season_production = df.groupby('Season')['Production'].sum().idxmax()
print("Season with highest production:", season_production)

Season with highest production: Whole Year

# Which crop has the highest variability in production?

In [47]:
highest_variability_crop = df.groupby('Crop')['Production'].std().idxmax()
print("Crop with highest variability in production:", highest_variability_crop)

Crop with highest variability in production: Sugarcane

# Which district has the highest overall production across all crops?

In [48]:
district_max_production = df.groupby('District')['Production'].sum().idxmax()
print("District with highest overall production:", district_max_production)

District with highest overall production: KHERI